doctype html
html
  head
    title= 'BDD CSS'
    link(href='css/styles.css', rel='stylesheet')
  body
    .home
      div(style='it should have half width, inline-block, a red-500 border, thick border, rounded, lots of padding and a drop shadow')
        Test test test test test test
      div(style='it should have half width, inline-block, a indigo-500 border and normal padding')
        Test test test test test test