* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  padding: 1em;
}

// background colors
[style*="white background"]     { background-color: $white; }
[style*="black background"]     { background-color: $black; }

// text colors
[style*="light text"]           { color: $white; }
[style*="dark text"]            { color: $black; }

// add a border
[style*="border"] {
  border-width: 1px;
  border-style: solid;
}

// border colors
[style*="black border"]         { border-color: $black; }
[style*="white border"]         { border-color: $white; }
[style*="red-500 border"]       { border-color: $red-500; }
[style*="indigo-500 border"]    { border-color: $indigo-500; }

// border thickness
[style*="thin border"]         { border-width: 1px; }
[style*="thick border"]         { border-width: 3px; }
[style*="really thick border"]  { border-width: 8px; }

// border radius
[style*="rounded"]              { border-radius: 5px; }

// padding
[style*="lots of padding"]      { padding: 2em; }
[style*="normal padding"]       { padding: 1em; }

// drop shadow
[style*="drop shadow"]          { box-shadow: 0 1em 1em rgba(0,0,0,0.5); }

// width
[style*="full width"]           { width: 100%; }
[style*="three quarters width"] { width:  75%; }
[style*="half width"]           { width:  50%; }
[style*="quarter width"]        { width:  25%; }

[style*="inline"]               { display:  inline; }
[style*="inline-block"]         { display:  inline-block; }
[style*="flex"]                 { display:  flex; }
